.todo-container{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}


.todo-container li:hover {
   color: #D6D9E8;
}

@media screen and (min-width: 768px) {
    .todo-container{
        width: 60%;
    }
}

@media screen and (min-width: 1000px) {
    .todo-container{
        width: 35%;
    }
}
