.header{  
    position: relative;
    width: 100%;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-wrapper{
    display: flex;
     justify-content: space-between;
    align-items: center;
    
    width: 85%;
}


@media screen and (min-width: 768px){
    .header-wrapper{
        width: 60%;
    }
}

@media screen and (min-width: 1000px){
    .header-wrapper{
        width: 35%;
    }
}


.header > .header-wrapper h1{
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
    pointer-events: none;
}

.header-wrapper > .svg-container{
    cursor: pointer;
}



